@import "../../styles/variables.scss";

.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 10vw 30px;
    min-height: 170px;
    min-height: 20vh;

    .top {
        padding-top: 28px;
        padding-bottom: 28px;
        display: flex;
        gap: 10px;

        a {
            text-decoration: none;
            color: #fff;
            font-family: $additionalFont;
            font-weight: 600;
            font-size: 13px;
        }
    }

    .bottom {
        padding-top: 28px;
        border-top: 1px solid #262626;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
            display: flex;
            align-items: center;
            gap: 20px;

            :nth-child(1) {
                max-width: 52px;
            }

            :nth-child(2) {
                color: gray;
                text-decoration: none;
                font-size: 13px;
                font-family: $additionalFont;
                font-weight: 600;
            }
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 25px;

            svg {
                fill: gray;
                vertical-align: middle;
                width: 25px;
                height: 25px;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .bottom {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 470px) {
    .top {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
